<div class="container">
  <div class="my-5 d-flex justify-content-end w-100 flex-wrap">
    <div class="col-sm-8 row">
      <div class="form-group col-sm-4">
        <label for=""
          >Please enter Trading symbol <span class="text-danger">*</span></label
        >
        <input
          [(ngModel)]="formData.symbol"
          type="text"
          class="form-control"
          placeholder=""
          aria-describedby="helpId"
        />
      </div>
      <div class="form-group col-sm-4">
        <label for="">Timeframe <span class="text-danger">*</span></label>
        <input
          type="text"
          [(ngModel)]="formData.timeframe"
          class="form-control"
          placeholder=""
          aria-describedby="helpId"
        />
      </div>
      <div class="form-group col-sm-4">
        <label for="">Start Time</label>
        <input
          type="date"
          [(ngModel)]="formData.start"
          class="form-control"
          placeholder=""
          aria-describedby="helpId"
        />
      </div>
      <div class="form-group col-sm-4">
        <label for="">End Time</label>
        <input
          type="date"
          [(ngModel)]="formData.end"
          class="form-control"
          placeholder=""
          aria-describedby="helpId"
        />
      </div>
      <div class="form-group col-sm-4">
        <label for="">Currency</label>
        <input
          type="text"
          [(ngModel)]="formData.currency"
          class="form-control"
          placeholder=""
          aria-describedby="helpId"
        />
      </div>
      <div class="form-group col-sm-4">
        <label for="">Adjustment</label>
        <input
          type="text"
          [(ngModel)]="formData.adjustment"
          class="form-control"
          placeholder=""
          aria-describedby="helpId"
        />
      </div>
      <div class="form-group col-sm-4">
        <label for="">Limit</label>
        <input
          type="text"
          [(ngModel)]="formData.limit"
          class="form-control"
          placeholder=""
          aria-describedby="helpId"
        />
      </div>
      <div class="form-group col-sm-4">
        <label for="">Feed</label>
        <input
          type="text"
          [(ngModel)]="formData.feed"
          class="form-control"
          placeholder=""
          aria-describedby="helpId"
        />
      </div>
      <div class="form-group col-sm-4">
        <label for="">ASOF</label>
        <input
          type="text"
          [(ngModel)]="formData.asof"
          class="form-control"
          placeholder=""
          aria-describedby="helpId"
        />
      </div>
      <div class="w-100 justify-content-end d-flex">
        <div
          class="alert alert-danger mt-5 col mx-1"
          *ngIf="error"
          role="alert"
        >
          {{ error }}
        </div>
        <button
          (click)="submit()"
          type="button"
          class="btn btn-primary mt-5 col-sm-4"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="chartOptions">
    <div class="form-group d-flex justify-content-end">
      <div class="form-group col-sm-4">
        <label for=""> Filter by </label>
        <select
          (ngModelChange)="submit()"
          class="form-control"
          [(ngModel)]="filter"
        >
          <option [value]="''">Select an Option</option>
          <option value="o">Open Price</option>
          <option value="l">Low Price</option>
          <option value="h">High Price</option>
          <option value="c">CLose Price</option>
          <option value="v">Volume</option>
          <option value="n">Trade Count</option>
          <option value="vw">VWap</option>
        </select>
      </div>
    </div>

    <div
      *ngIf="
        chartOptions.series &&
        chartOptions.chart &&
        chartOptions.xaxis &&
        chartOptions.title
      "
    >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
      ></apx-chart>
    </div>
    <div
      class="w-100 justify-content-end d-flex"
      *ngIf="result.next_page_token"
    >
      <button
        (click)="nextPage()"
        type="button"
        class="btn btn-primary mt-5 col-sm-4"
      >
        NextPage
      </button>
    </div>
  </ng-container>
</div>
